<%= title "Añadir foto a '#{slide_image.card.title}'" %>
<div class="actions">
  <%=  link_to 'Cancelar', admin_card_slide_images_path(slide_image.card) %>
</div>
<%= render 'form' %>

<%=  simple_debug slide_image.errors %>
