
@import 'admin/variables.css.scss';

/** GENERAL **/
html {
    font-size: 11px;
    font-family: "Verdana", sans;
    background-color: $fondo;
}
a {text-decoration: none; color: $gris;}
a:hover {text-decoration: underline; color: $azul;}
em {font-weight: bold;}
strong {font-style: italic;}
h1 {font-size: 200%; margin-top: 0.2em;}
h1.title {margin-bottom: 30px;}
h2 {
    font-size: 150%; margin: 1em 0 0.2em 0;
    color: $grisoscuro; border-bottom: 2px solid $azulclaro;}

/** LAYOUT **/
#menu {width: 80%; margin: 1em auto; padding: 1em 0 0 2em; }
#menu a {font-weight: normal;}
#menu a:hover {text-decoration: none; color: black;}
#menu .lpn {color: $azul;}
#menu .lpn:hover {text-decoration: underline; color: $azul;}

#page {
    width: 80%; margin: 2em auto;
    background-color: white; @include round;}
.banner {
    padding: 0.5em 1em;
    color: white; background-color: $azul;
}
#header {@include round-top;}
#footer {text-align: center; @include round-bottom;}
.content {
    padding: 1em;
}
.columns {width: 100%; overflow: hidden;}
.col2 {float: left; width: 48%; overflow: hidden;
      margin: 0 2% 0 0; background-color: white;}

/** ELEMENTS **/
div.actions {width: 100%; overflow: hidden; margin: 1em 0;}
.actions .separator {display: block; float: left; width: 1em; }
.actions a {
    display: block; float: left; padding: 0.2em 1em 0.3em 1em; margin: 0 0.5em 0.2em 0;
    background-color: $azulclaro; @include round; color: $azul;
}
.actions a:hover {
    background-color: $azul; color: white; text-decoration: none;
}

a.delete {color: #c00;}

.calc {letter-spacing: 0.5em; color: $gris;}
.calc:hover {color: black; text-decoration: none;}

.color_example {display: block; padding: 0.2em 2em; overflow: hidden; text-indent: -1000px;}
.card_tag {padding: 0.2em 1em; @include round; margin: 2px;}
a.url {color: $azul;}

.flash {background-color: yellow; color: black; padding: 0.2em 1em;}

.info {
    display: block; font-weight: normal;
    color: $gris; }
.info a {color: $azul;}


/** FORMS **/
.nested {
    margin: 0 1em; background-color: white;
    border: 2px solid $azulclaro; @include round;
}
.nested h3 {
    padding: 0.2em 1em;
    background-color: $azulclaro;
}
.nested form {margin: 1em;}
form p {margin: 5px 0;}
form p.submit {display: block; clear:both; padding: 0.5em; background-color: $azulclaro;}
form label {
    display: block; margin: 1em 0 0.2em 0; font-weight: bold;
}
form p span {}
form input[type=text] {
    width: 20em; padding: 2px;
    border: 1px solid $grisclaro;}
textarea {width: 95%; padding: 2px; margin: 2px 5% 0 2px;}
textarea.medium {height: 10em;}

.simple_form input[type=submit] {margin-top: 10px;}

/** TABLE **/
table {width: 100%; @include round-top; margin-bottom: 1em;
}
table thead {
    padding: 0.2em 0; 
    background-color: white;
}
table th {font-weight: bold; padding: 0.2em 0;}

table thead tr {@include round-top;}
table tr {border-bottom: 1px solid $azulclaro;}
table td {padding: 0.4em 0em 0.3em 0.2em;}
table td.title {width: 20em;}
table td.title a {display: block;}
table td.title a.edit {font-size: 100%; }
table td.title a.url {color: $azulclaro;}
table td.title a.url:hover {color: $azul;}
table td a {color: $azul; }
table td.actions {font-size: 80%;}
table td.actions a {background-color: $azulblanco; float: right;}


/** TABS **/
ul.tabs {
    width: 100%; overflow: hidden;
    border-bottom: 1px solid $azul;
    margin: 5px 0;
    z-index: 50;

    li {
        display: block; float: left;
        background-color: $azulclaro;
        padding: 10px 15px;
        margin-right: 5px;
        border: 1px solid $azulclaro;
        border-bottom: 1px solid $azul;
        border-radius: 5px 5px 0 0;
        margin-bottom: -1px;
        z-index: 100;
    }

    li.active {background-color: white;
        border-color: $azul;
        border-bottom: 1px solid white;}
}

/** TAGS **/

#tag_selector {
    width: 100%;
}

#tag_selector a {
    display: block; float: left; padding: 0.5em 1em; margin: 0.5em 1em 0 0;
    background-color: #efefef; color: $azul; @include round;
}
#tag_selector a:hover {background-color: $azulclaro;}

#tag_selector a.selected {
    background-color: $azul; color: white;
}
#tag_selector a.selected:hover {}